page-auth {
  .logo-row {
    justify-content: center
  }
  .logo-row img{
    max-height: 100px
  }
  .cst-form .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
    margin-left: 10px;
    margin-top: 27px;
  }
  .cst-form .item-inner {
    margin-left: 5px !important;
  }
}
