body {background-color: rgba(249, 247, 247, 0.58) }
.red{
  color:red;
}
.white{
  background-color: #FFFFFF;
}
.app{
  padding: 0px !important;
}
/*SCROLL BAR CSS */
::-webkit-scrollbar {
  width: 0px;
}

/*IMG COINTAINER CSS*/
.img-container,.img-container-2,.img-container-3{
  overflow: hidden;
}
.height-1{
  height: 15em;
}
.height-2{
  height: 25em;
}
.height-6{
  height: 60%;
}

/*MARGIN & PADDING CSS*/
.reset-margin-lr{
  margin-left: 0;
  margin-right: 0;
}
.padding-lr-1-i{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.margin-45{
  margin-top: 45px;
}
.margin-top-60{
  margin-top: 60px;
}
.reset-padding-i{
  padding: 0 !important;
}
.ma-center{
  text-align: center;
  padding-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.margin-bot-10px{
  margin-bottom: 10px;
}
.pad-10px{
  padding: 10px;
}
.test{
  width: 100%;
}
.pad-10px-50px{
  padding: 10px 0px 50px 0px;
}
.form-icon{
  padding: 8px 0;
}
/*CUSTOM*/
.fright{
  float: right;
}
.navbar-nav .nav-item+.nav-item{
  margin-left: 3rem;
}

.custom-navbar{
  background-color: #3E2723;
  box-shadow: 0 2px 5px rgba(144,202,249,0.1);
  border-bottom: 3px solid #ff5c28;
  font-family: 'Cabin', sans-serif;
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-brand:focus{
  color:#FFFFFF;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-brand:hover{
  color: #ff5c28;
}
.grid-c{
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.reset-segment-border > .column > .segment{
  border: none;
  box-shadow: none;
}
.separator{
  margin: auto;
  margin-bottom: 30px;
  width: 80px;
  border-top: 2px solid #ea9312;
}
.fc-grey{
  color: #9e9e9e;
}
.fc-grey h3{
  color: #757575;
}
.title{
  font-family: 'Raleway', sans-serif;
  color: #9e9e9e;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}
.segment img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.segment img:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.app .items .item{
  padding:50px;
}
.aboutcst{
  height: 42em;
}
.border-bot{
  border-bottom: 3px solid #565656;
  width: 95%;
  margin: auto;
}
.accordion .content{
  padding-left: 50px !important;
}
.green-content{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #75c35d;
}
.form-custom{
  text-align: left;
}
.signin-r{
  padding: 60px 60px 0px 60px;
}
.form-cst{
  padding:60px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.signup{
  margin-top: 100px;
  width: 45%;
  height: 35em;
}
.signin{
  padding: 0px;
  margin-top: 200px;
  width: 25%;
}
.f-cst{
  font-size: 18px;
  padding: 20px;
  color: black;
}
.f-cst-2{
  font-size:16px;
  font-weight: bold;
}