@media (max-height: 568px){
    .login-header{
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }
    #login-footer{
        padding-top: 20px !important;
    }
    .login-cont{
        height: 500px !important;
    }
}
#form label{
    color: #ffffff;
}
#form .input-group--focused label{
    color: #00e676!important;
}
#form ::-webkit-input-placeholder { 
    color: rgba(158, 158, 158, 0.4);
}
.bc{
    background-color: #61df91;
    width: 100%;
    height: 100%;
}
.login-cont{
    background-color: #353244;
    margin: 1% 0;
    padding: 0 25px;
    height: 610px;
}
a{
    text-decoration: none;
    color:inherit !important;
}
.h-100{
    height: 100%;
}
#form input{
    box-shadow: 0px 1px #c5c4c9;
}
@media (min-width:1264px){
    .login-cont{
        max-width: 25% !important;
    }
}
.login-header{
    padding-top: 50px;
    padding-bottom: 70px;
    color: #757575;
    font-size: 18px;
    font-family: 'Arima Madurai', cursive;
}
.text-active{
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    margin-right: 4px;
    border-bottom: 2px solid #00e676;
}
#login-footer{
    padding-top: 120px;
    text-align: center;
}