/* Scroll Bar Cst */
*::-webkit-scrollbar{
    width: 6px !important;
    height: 6px !important;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-track{
    background: rgba(255,255,255,0.08);
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
/* Initial Css */
html{
    /* overflow-y: hidden !important; */
}
.pad-10px{
    padding: 10px;
}
.cst-container{
    padding: 0 !important;   
}
.tittle-cst{
    vertical-align: middle;
}
.card{
    background: #FFF;
    cursor: pointer;
}
.activeit{
    opacity: 0.5;
}
.restoI:hover{
    opacity: 1 ;
}
.item-normal-margin{
    margin-top: 58px !important;
}
.margin-35px{
    margin: 35px;
}
.item-container{
    background: #f9f9f9;
    margin-top: 56px !important;
    max-height: 620px;
    overflow-y: scroll;
    padding-bottom: 50px ;
}
.b-icon{
    min-width: 56px !important;
}
.cst-fixed{
    position: fixed !important;
}
.autom{
    margin: auto;
}
.username{
    margin: auto;
    font-size: 18px;
}
.searchfilter .fa-filter{
    color: rgba(0,0,0,.54) !important;
}
.filter-cont{
    color: rgba(0,0,0,.60);
    font-size: 16px;
}
.pad-40px{
    padding: 40px;
}