<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item-group>
      <ion-item-divider color="light" class="header-cst">Restaurant</ion-item-divider>
      <ion-item class="item-cst" menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="ion-cst" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" class="header-cst">Account</ion-item-divider>
      <ion-item class="item-cst" menuClose *ngFor="let p of accountpages" (click)="openPage(p)">
        <ion-icon class="ion-cst" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </ion-item>
      <ion-item class="item-cst" menuClose (click)="logout()">
        <ion-icon class="ion-cst" name="md-log-out"></ion-icon>
        Log Out
      </ion-item>
    </ion-item-group>
    <!-- <ion-list>
      <ion-list-header>
        Restaurant
      </ion-list-header>
      <button menuClose ion-item (click)="logout()">
        Log Out
      </button>
    </ion-list> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>