// http://ionicframework.com/docs/theming/
.ion-cst{
  margin: 0 10px;
}
.item-cst{
  color:#212121;
  cursor: pointer
}
.item-cst:hover{
  background: #424242;
  color: #FFF;
}
.item-cst:hover .item-inner{
  border: none;
}
.header-cst{
  font-size: 16px;
  font-weight: 500;
  color: #616161;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
